backports.ssl-match-hostname==3.5.0.1
certifi==2018.1.18
chardet==3.0.4
click==6.7
Flask==1.0.2
Flask-Login==0.4.1
gevent==1.2.2
gevent-websocket==0.10.1
greenlet==0.4.13
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
meld3==1.0.2
requests==2.20.1
six==1.11.0
supervisor==3.2.0
urllib3==1.23
websocket-client==0.47.0
Werkzeug==0.15.3
