[Desktop Entry]
Name=Nautilus File Manager
Name[am]=ቱናር መዝገብ አስተዳዳሪ
Name[ar]=مدير الملفات ثونار
Name[ast]=Xestor de ficheros Nautilus
Name[be]=Кіраўнік файлаў Nautilus
Name[bg]=Файлов мениджър Nautilus
Name[bn]=Nautilus ফাইল ম্যানেজার
Name[ca]=Gestor de fitxers Nautilus
Name[cs]=Správce souborů Nautilus
Name[da]=Nautilus Filhåndtering
Name[de]=Nautilus-Dateiverwaltung
Name[el]=Διαχειριστής αρχείων Nautilus
Name[en_AU]=Nautilus File Manager
Name[en_GB]=Nautilus File Manager
Name[eo]=Nautilus dosier-administrilo
Name[es]=Gestor de archivos Nautilus
Name[et]=Failihaldur Nautilus
Name[eu]=Nautilus fitxategi kudeatzailea
Name[fa_IR]=مدیر پرونده‌های تونار
Name[fi]=Nautilus-tiedostonhallinta
Name[fr]=Gestionnaire de fichiers Nautilus
Name[gl]=Xestor de ficheiros Nautilus
Name[he]=מנהל קבצים Nautilus
Name[hr]=Nautilus upravitelj datotekama
Name[hu]=Nautilus fájlkezelő
Name[hy]=Nautilus նիշք
Name[hy_AM]=Nautilus նիշք
Name[id]=Manajer Berkas Nautilus
Name[ie]=Gerente de files Nautilus
Name[is]=Nautilus skráastjóri
Name[it]=Il gestore dei file Nautilus
Name[ja]=Nautilus ファイルマネージャー
Name[kk]=Nautilus файлдар басқарушысы
Name[ko]=투나 파일 관리자
Name[lt]=Nautilus failų tvarkytuvė
Name[lv]=Nautilus failu pārvaldnieks
Name[ms]=Pengurus Fail Nautilus
Name[nb]=Nautilus Filbehandler
Name[nl]=Nautilus bestandbeheerder
Name[nn]=Nautilus filhandsaming
Name[oc]=Gestionari de Fichièrs Nautilus
Name[pa]=ਥੰਨਰ ਫਾਇਲ ਮੈਨੇਜਰ
Name[pl]=Menedżer plików Nautilus
Name[pt]=Gestor de ficheiros Nautilus
Name[pt_BR]=Gerenciador de arquivos Nautilus
Name[ro]=Managerul de fișiere Nautilus
Name[ru]=Файловый менеджер Nautilus
Name[si]=Nautilus ගොනු කළමණාකරු
Name[sk]=Správca súborov Nautilus
Name[sl]=Upravljalnik datotek Nautilus
Name[sq]=Përgjegjësi i Kartelave Nautilus
Name[sr]=Тунар управник датотека
Name[sv]=Filhanteraren Nautilus
Name[te]=తునార్ దస్త్ర నిర్వాహకము
Name[th]=โปรแกรมจัดการแฟ้ม Nautilus
Name[tr]=Nautilus Dosya Yöneticisi
Name[ug]=سۇنار(Nautilus) ھۆججەت باشقۇرغۇ
Name[uk]=Файловий менеджер Nautilus
Name[ur]=تھنر فائل منیجر
Name[ur_PK]=تھنر فائل منیجر
Name[vi]=Trình quản lý tập tin Nautilus
Name[zh_CN]=Nautilus 文件管理器
Name[zh_HK]=Nautilus 檔案管理員
Name[zh_TW]=Nautilus 檔案管理員
Comment=Browse the filesystem with the file manager
Comment[ar]=تصفح ملفات النظام بمدير الملفات
Comment[ast]=Restolar el sistema de ficheros col xestor de ficheros
Comment[be]=Агляд файлавай сістэмы кіраўніком файлаў
Comment[bg]=Преглед на файловата система с файловият мениджър
Comment[bn]=ফাইল ম্যানেজার দিয়ে ফাইলসিস্টেম ব্রাউজ করুন
Comment[ca]=Navegueu pel sistema de fitxers amb el gestor de fitxers
Comment[cs]=Procházet systém souborů správcem souborů
Comment[da]=Gennemse filsystemet med filhåndteringen
Comment[de]=Das Dateisystem in der Dateiverwaltung anzeigen
Comment[el]=Περιήγηση του συστήματος αρχείων με τον διαχειριστή αρχείων
Comment[en_AU]=Browse the filesystem with the file manager
Comment[en_GB]=Browse the filesystem with the file manager
Comment[eo]=Rigardu dosier-sistemon per dosier-administrilo
Comment[es]=Explore el sistema de archivos con el gestor de archivos
Comment[et]=Failisüsteemi lehitsemine kasutades failihaldurit
Comment[eu]=Fitxategi kudeatzaileaz fitxategi sistema arakatu
Comment[fa_IR]=مرور سیستم پرونده با مدیر پرونده
Comment[fi]=Selaa tiedostojärjestelmää tiedostonhallinnassa
Comment[fr]=Parcourir le système de fichiers avec le gestionnaire de fichiers
Comment[gl]=Explorar o sistema de ficheiros co xestor de ficheiros
Comment[he]=סייר במערכת הקבצים בעזרת מנהל הקבצים
Comment[hr]=Pregledaj datotečni sustav sa upraviteljem datoteka
Comment[hu]=A fájlrendszer böngészése a fájlkezelővel
Comment[hy]=Դիտանցնել նշահամակարգը նշերի կառավարչի հետ
Comment[hy_AM]=Դիտանցնել նշահամակարգը նշերի կառավարչի հետ
Comment[id]=Ramban sistem berkas dengan manajer berkas
Comment[ie]=Navigar li sistema de files per li gerente de files
Comment[is]=Vafra um skráarkerfið með skráarstjóranum
Comment[it]=Esplora il file system con il gestore dei file
Comment[ja]=ファイルマネージャーでファイルシステムを参照します
Comment[kk]=Файлдық жүйені файлдар басқарушысымен шолу
Comment[ko]=파일 관리자로 파일 시스템을 탐색합니다
Comment[lt]=Naršyti failų sistemą naudojant failų tvarkytuvę
Comment[lv]=Pārlūko failu sistēmu ar failu pārvaldnieku
Comment[ms]=Layar sistem fail dengan pengurus fail
Comment[nb]=Utforsk filsystemet med filbehandleren
Comment[nl]=Blader met de bestandbeheerder door het bestandssysteem
Comment[nn]=Bla gjennom filsystemet med filhandsamaren
Comment[oc]=Percórrer lo sistèma de fichièrs amb lo gestionari de fichièrs
Comment[pa]=ਫਾਇਲ ਮੈਨੇਜਰ ਨਾਲ ਫਾਇਲ ਸਿਸਟਮ ਨਾਲ ਬਰਾਊਜ਼ ਕਰੋ
Comment[pl]=Przegląda system plików za pomocą menedżera plików
Comment[pt]=Explorar sistema de ficheiros com o gestor de ficheiros
Comment[pt_BR]=Navegue no sistema de arquivos com o gerenciador de arquivos
Comment[ro]=Gestionați fișierele cu un manager dedicat
Comment[ru]=Просмотр файловой системы с помощью файлового менеджера
Comment[sk]=Prehliada súborový systém pomocou správcu súborov
Comment[sl]=Brskajte po datotečnem sistemu z upravljalnikom datotek
Comment[sq]=Shfletoni sistemin e kartelave me përgjegjësin e kartelave
Comment[sr]=Прегледај систем датотека управником датотека 
Comment[sv]=Bläddra i filsystemet med filhanteraren
Comment[te]=దస్త్ర వ్యవస్థని దస్త్ర నిర్వాహకముతో విహరించు
Comment[th]=ท่องดูระบบแฟ้มด้วยโปรแกรมจัดการแฟ้ม
Comment[tr]=Dosya sistemine dosya yöneticisi ile göz atın
Comment[ug]=ھۆججەت باشقۇرغۇدا ھۆججەت سىستېمىسىنى كۆر
Comment[uk]=Перегляд файлової системи менеджером файлів
Comment[ur]=فائل سسٹم کو فائل منیجر سے دیکھیں
Comment[ur_PK]=فائل سسٹم کو فائل منیجر سے دیکھیں
Comment[vi]=Duyệt hê thống tập tin với trình quản lý tập tin
Comment[zh_CN]=用文件管理器浏览文件系统
Comment[zh_HK]=以檔案管理員瀏覽檔案系統
Comment[zh_TW]=使用檔案管理員瀏覽檔案系統
GenericName=File Manager
GenericName[am]=የ ፋይል አስተዳዳሪ
GenericName[ar]=مدير الملفات
GenericName[ast]=Xestor de ficheros
GenericName[be]=Кіраўнік файлаў
GenericName[bg]=Файлов мениджър
GenericName[bn]=ফাইল ব্যবস্থাপক
GenericName[ca]=Gestor de fitxers
GenericName[cs]=Správce souborů
GenericName[da]=Filhåndtering
GenericName[de]=Dateiverwaltung
GenericName[el]=Διαχειριστής αρχείων
GenericName[en_AU]=File Manager
GenericName[en_GB]=File Manager
GenericName[eo]=Dosier-administrilo
GenericName[es]=Gestor de archivos
GenericName[et]=Failihaldur
GenericName[eu]=Fitxategi kudeatzailea
GenericName[fa_IR]=مدیر پرونده
GenericName[fi]=Tiedostonhallinta
GenericName[fr]=Gestionnaire de fichiers
GenericName[gl]=Xestor de ficheiros
GenericName[he]=מנהל קבצים
GenericName[hr]=Upravitelj datotekama
GenericName[hu]=Fájlkezelő
GenericName[hy]=Նիշք
GenericName[hy_AM]=Նիշք
GenericName[id]=Manajer Berkas
GenericName[ie]=Gerente de files
GenericName[is]=Skráastjóri
GenericName[it]=Gestore dei file
GenericName[ja]=ファイルマネージャー
GenericName[kk]=Файлдар басқарушысы
GenericName[ko]=파일 관리자
GenericName[lt]=Failų tvarkytuvė
GenericName[lv]=Failu pārvaldnieks
GenericName[ms]=Pengurus Fail
GenericName[nb]=Filbehandler
GenericName[nl]=Bestandbeheerder
GenericName[nn]=Filhandsamar
GenericName[oc]=Gestionari de fichièrs
GenericName[pa]=ਫਾਇਲ ਮੈਨੇਜਰ
GenericName[pl]=Menedżer plików
GenericName[pt]=Gestor de ficheiros
GenericName[pt_BR]=Gerenciador de arquivos
GenericName[ro]=Manager de fișiere
GenericName[ru]=Файловый менеджер
GenericName[sk]=Správca súborov
GenericName[sl]=Upravljalnik datotek
GenericName[sq]=Përgjegjës Kartelash
GenericName[sr]=Разгледач датотека
GenericName[sv]=Filhanterare
GenericName[te]=దస్త్ర నిర్వాహకము
GenericName[th]=โปรแกรมจัดการแฟ้ม
GenericName[tr]=Dosya Yöneticisi
GenericName[ug]=ھۆججەت باشقۇرغۇ
GenericName[uk]=Файловий менеджер
GenericName[ur]=فائل منیجر
GenericName[ur_PK]=فائل منیجر
GenericName[vi]=Trình quản lí tập tin
GenericName[zh_CN]=文件管理器
GenericName[zh_HK]=檔案管理員
GenericName[zh_TW]=檔案管理員
Exec=nautilus %F
Icon=Nautilus
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Core;GTK;FileTools;FileManager;
MimeType=inode/directory;
# vi:set encoding=UTF-8:
