[Desktop Entry]
Version=1.0
Exec=xfce4-panel --preferences
Icon=xfce4-panel
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
OnlyShowIn=XFCE;
Terminal=false
StartupNotify=true
X-XfcePluggable=true
X-XfceHelpComponent=xfce4-panel
X-XfceHelpPage=preferences
Name=Panel
Name[am]=ክፍል
Name[ar]=لوحة
Name[ast]=Panel
Name[be]=Панэль
Name[bg]=Панел
Name[ca]=Tauler
Name[cs]=Panel
Name[da]=Panel
Name[de]=Leiste
Name[el]=Ταμπλό
Name[en_AU]=Panel
Name[en_GB]=Panel
Name[eo]=Panelo
Name[es]=Panel
Name[et]=Riba
Name[eu]=Panela
Name[fi]=Paneeli
Name[fr]=Tableau de bord
Name[gl]=Panel
Name[he]=לוח
Name[hr]=Ploča
Name[hu]=Panel
Name[hy_AM]=Ընտրացանկ
Name[id]=Panel
Name[ie]=Panel
Name[is]=Skjástika
Name[it]=Pannello
Name[ja]=パネル
Name[ka]=პანელი
Name[kk]=Панель
Name[ko]=패널
Name[lt]=Skydelis
Name[ms]=Panel
Name[nb]=Panel
Name[nl]=Werkbalk
Name[nn]=Panel
Name[oc]=Tablèu de bòrd
Name[pl]=Panel
Name[pt]=Painel
Name[pt_BR]=Painel
Name[ro]=Panouri
Name[ru]=Панель
Name[sk]=Panel
Name[sl]=Pult
Name[sq]=Panel
Name[sr]=Полица
Name[sv]=Panel
Name[te]=ప్యానల్
Name[th]=พาเนล
Name[tr]=Panel
Name[ug]=كۆزنەك
Name[uk]=Панель
Name[vi]=Bảng
Name[zh_CN]=面板
Name[zh_HK]=面板
Name[zh_TW]=面板
Comment=Customize the panel
Comment[am]=ክፍል ማስተካከያ
Comment[ar]=خصص اللوحة
Comment[ast]=Personaliza'l panel
Comment[be]=Наладзіць панэль
Comment[bg]=Персонализация на панела
Comment[ca]=Personalitzeu el tauler
Comment[cs]=Přizpůsobit panel
Comment[da]=Tilpas panelet
Comment[de]=Leiste einrichten
Comment[el]=Προσαρμογή του ταμπλό
Comment[en_AU]=Customise the panel
Comment[en_GB]=Customise the panel
Comment[es]=Personalizar el panel
Comment[et]=Kohanda riba
Comment[eu]=Pertsonalizatu panela
Comment[fi]=Muokkaa paneelia
Comment[fr]=Personnaliser le tableau de bord
Comment[gl]=Personalizar o panel
Comment[he]=התאם אישית את הלוח
Comment[hr]=Prilagodi ploču
Comment[hu]=A panel személyre szabása
Comment[hy_AM]=Ընտրացանկի կարգաւորումներ
Comment[id]=Sesuaikan panel
Comment[ie]=Adjustar li panel
Comment[is]=Sérsníða skjástiku
Comment[it]=Personalizzazione del pannello
Comment[ja]=パネルをカスタマイズします
Comment[ka]=პანელის გასწორება
Comment[kk]=Панельді баптау
Comment[ko]=패널 개별 설정
Comment[lt]=Tinkinti skydelį
Comment[ms]=Ubahsuai panel
Comment[nb]=Tilpass panelet
Comment[nl]=Pas de werkbalk aan
Comment[nn]=Set opp panelet
Comment[oc]=Personalizar lo tablèu de bòrd
Comment[pl]=Konfiguruje wygląd, zachowanie i zawartość paneli
Comment[pt]=Personalizar o painel
Comment[pt_BR]=Personalizar o painel
Comment[ro]=Personalizați panourile
Comment[ru]=Настройка панели
Comment[sk]=Prispôsobiť panel
Comment[sl]=Prilagodi pult
Comment[sq]=Përshtateni panelin
Comment[sr]=Прилагоди полицу
Comment[sv]=Anpassa panelen
Comment[te]=ప్యానల్‌ను అనురూపించు
Comment[th]=ปรับแต่งพาเนล
Comment[tr]=Paneli özelleştir
Comment[ug]=كۆزنەكنى ئۆزلەشتۈرۈش
Comment[uk]=Упорядкувати панель
Comment[vi]=Tùy chỉnh bảng điều khiển
Comment[zh_CN]=自定义面板
Comment[zh_HK]=自訂面板
Comment[zh_TW]=自訂面板
NoDisplay=true
