[Desktop Entry]
Name=Removable Drives and Media
Name[ar]=أجهزة و وسائط متنقلة
Name[ast]=Unidaes y medios estrayíbles
Name[be]=Рухомыя дыскі і носьбіты
Name[bg]=Преносими устройства и медии
Name[ca]=Unitats i mitjans extraïbles
Name[cs]=Vyměnitelné jednotky a média
Name[da]=Flytbare drev og medier
Name[de]=Wechseldatenträger- und Medieneinstellungen
Name[el]=Αφαιρούμενοι οδηγοί και μέσα
Name[en_AU]=Removable Drives and Media
Name[en_GB]=Removable Drives and Media
Name[es]=Dispositivos y soportes extraíbles
Name[eu]=Gailu eta Euskarri Aldagarriak
Name[fi]=Irrotettavat asemat ja taltiot
Name[fr]=Disques et médias amovibles
Name[gl]=Unidades e soportes extraíbles
Name[he]=כוננים ומדיה נשלפים
Name[hr]=Uklonjivi pogoni i mediji
Name[hu]=Cserélhető meghajtók és adathordozók
Name[hy_AM]=Հեռացուելի յիշասարքեր եւ կրիչներ
Name[id]=Media dan Penggerak Dapat Dilepas
Name[ie]=Unités e medies removibil
Name[is]=Fjarlægjanleg drif og miðlar
Name[it]=Unità rimovibili e supporti
Name[ja]=リムーバブルドライブとメディア
Name[kk]=Ауыстырмалы дисктер мен тасушылар
Name[ko]=이동식 드라이브와 미디어
Name[lt]=Keičiamieji diskai ir laikmenos
Name[lv]=Noņemamie diski un datu nesēji
Name[ms]=Pemacu dan Media Boleh Alih
Name[nb]=Flyttbare enheter og media
Name[nl]=Verwijderbare stations en opslagmedia
Name[nn]=Flyttbare stasjonar og einingar
Name[oc]=Disques amovibles e mèdias
Name[pl]=Napędy i nośniki wymienne
Name[pt]=Unidades amovíveis
Name[pt_BR]=Mídias e unidades removíveis
Name[ro]=Unități detașabile și alte medii
Name[ru]=Съёмные устройства и носители данных
Name[sk]=Vymeniteľné zariadenia a médiá
Name[sl]=Odstranljivi pogoni in nosilci
Name[sq]=Media dhe Pajisje të Heqshme
Name[sr]=Измењиви дискови и медији
Name[sv]=Flyttbara enheter och media
Name[te]=తీసివేయదగిన డ్రైవులు మరియు మాధ్యమం
Name[th]=ไดรว์และสื่อถอดเสียบ
Name[tr]=Kaldırılabilir Sürücüler ve Ortam
Name[ug]=يۆتكىلىشچان ئۈسكۈنە ۋە ۋاسىتە
Name[uk]=Переносні Пристрої і Медіа
Name[ur]=قابلِ فصل ڈرئیوز اور میڈیا
Name[ur_PK]=قابلِ فصل ڈرئیوز اور میڈیا
Name[zh_CN]=可移动驱动器和介质
Name[zh_HK]=移除式裝置與媒體
Name[zh_TW]=可移除裝置與媒體
Comment=Configure management of removable drives and media
Comment[ar]=إعداد إدارة الأجهزة و الوسائط المتنقلة
Comment[ast]=Configurar l'alministración d'unidaes estrayibles y medios
Comment[be]=Наладзіць кіраванне рухомымі дыскамі і носьбітамі
Comment[bg]=Конфигуриране на управлението на преносими устройства и медии
Comment[ca]=Configureu la gestió de les unitats i dels mitjans extraïbles
Comment[cs]=Správa nastavení vyměnitelných jednotek a médií
Comment[da]=Konfigurer håndtering af flytbare drev og medier
Comment[de]=Verwaltung von Wechseldatenträgern und -medien konfigurieren
Comment[el]=Ρύθμιση διαχείρισης των αφαιρούμενων συσκευών και μέσων
Comment[en_AU]=Configure management of removable drives and media
Comment[en_GB]=Configure management of removable drives and media
Comment[es]=Configurar la gestión de dispositivos y medios extraíbles
Comment[eu]=Konfiguratu gailu eta euskarri aldagarrien kudeaketa
Comment[fi]=Muokkaa irrotettavien asemien ja taltioiden hallinta-asetuksia
Comment[fr]=Configurer la gestion des disques et médias amovibles
Comment[gl]=Configurar a xestión da unidades e soportes extraíbeis
Comment[he]=הגדר ניהול של כוננים ומדיה נשלפים
Comment[hr]=Konfiguriraj upravljanje uklonjivih pogona i medija
Comment[hu]=Cserélhető meghajtók és adathordozók kezelésének beállítása
Comment[hy_AM]=Կազմաձեւել հեռացուելի յիշասարքերի եւ կրիչների կառավարումը
Comment[id]=Pengaturan manajemen dari media dan penggerak dapat dilepas
Comment[ie]=Configurar gerentie de removibil unités e medies
Comment[is]=Stilltu umsýslu á fjarlægjanlegum drifum og miðlum
Comment[it]=Configurazione della gestione delle unità rimovibili e dei supporti
Comment[ja]=リムーバブルドライブとメディアの取扱いを設定します
Comment[kk]=Ауыстырмалы тасушылар мен дисктерді басқару
Comment[ko]=이동식 드라이브와 미디어의 관리요소를 설정합니다
Comment[lt]=Konfigūruoti keičiamųjų diskų ir laikmenų tvarkymą
Comment[lv]=Konfigurēt noņemamo disku un datu nesēju pārvaldību
Comment[ms]=Pengurus konfigurasi bagi peranti boleh tanggal dan media
Comment[nb]=Konfigurer oppsett for avmonterbare stasjoner og media
Comment[nl]=Beheer van verwijderbare stations en opslagmedia instellen
Comment[nn]=Set opp korleis flyttbare stasjonar og lagringsmedium skal handterast
Comment[oc]=Configurar la gestion dels disques amovibles e dels mèdias
Comment[pl]=Konfiguruje zarządzanie wymiennymi nośnikami oraz urządzeniami
Comment[pt]=Configurar gestão de unidades amovíveis
Comment[pt_BR]=Configurar o gerenciamento de drives e mídias removíveis
Comment[ro]=Configurați managementul dispozitivelor detașabile
Comment[ru]=Управление съёмными устройствами и накопителями
Comment[sk]=Nastavenie správy vymeniteľných zariadení a médií
Comment[sl]=Odpre nastavitve odstranljivih pogonov in nosilcev
Comment[sq]=Formësoni administrimin e pajisjeve dhe mediave të heqshme
Comment[sr]=Подесите управљање измењивим уређајима и дисковима
Comment[sv]=Konfigurera hanteringen av flyttbara enheter och media
Comment[th]=ตั้งค่าการจัดการไดรว์และสื่อถอดเสียบ
Comment[tr]=Kaldırılabilir sürücü ve ortam yönetimi yapılandırması
Comment[ug]=يۆتكەلمە ئۈسكۈنە ۋە ۋاسىتىلەرنى سەپلەش ۋە باشقۇرۇش
Comment[uk]=Налаштувати керування змінними дисками і пристроями
Comment[ur]=قابلِ فصل ڈرائیوز اور میڈیا کی ادارت وضع کریں
Comment[ur_PK]=قابلِ فصل ڈرائیوز اور میڈیا کی ادارت وضع کریں
Comment[zh_CN]=可移动驱动器和介质的配置管理
Comment[zh_HK]=管理移除式裝置與媒體
Comment[zh_TW]=管理可移除裝置與媒體的設定值
Exec=thunar-volman-settings
Icon=drive-removable-media
Terminal=false
StartupNotify=true
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;
X-XfcePluggable=true
X-XfceHelpComponent=thunar
X-XfceHelpPage=using-removable-media
NoDisplay=true
