[Desktop Entry]
Version=1.0
Type=Application
Exec=xfce4-appfinder --collapsed
Icon=system-run
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Run Program...
Name[am]=ፕሮግራሙን አስኪድ
Name[ar]=نفذ البرنامج...
Name[ast]=Executar programa...
Name[be]=Запуск праграмы...
Name[bg]=Стартиране на програма...
Name[ca]=Executa el programa...
Name[cs]=Spustit program…
Name[da]=Kør program ...
Name[de]=Programm starten …
Name[el]=Εκτέλεση Προγράμματος...
Name[en_AU]=Run Program...
Name[en_GB]=Run Program...
Name[es]=Ejecutar programa…
Name[et]=Käivita rakendus...
Name[eu]=Exekutatu programa...
Name[fi]=Suorita sovellus...
Name[fr]=Exécuter le programme…
Name[gl]=Executar programa...
Name[he]=הפעל תוכנית...
Name[hr]=Pokreni program...
Name[hu]=Program futtatása…
Name[hy_AM]=Գործարկել...
Name[id]=Jalankan Program...
Name[ie]=Executer un programma...
Name[is]=Keyra forrit...
Name[it]=Esegui programma…
Name[ja]=プログラムの実行...
Name[kk]=Бағдарламаны жөнелту...
Name[ko]=프로그램 실행...
Name[lt]=Paleisti programą...
Name[ms]=Jalan Program...
Name[nb]=Kjør program ...
Name[nl]=Draai programma...
Name[nn]=Køyr program...
Name[oc]=Aviar lo programa...
Name[pl]=Uruchom program...
Name[pt]=Executar programa...
Name[pt_BR]=Executar programa...
Name[ro]=Pornire de programe…
Name[ru]=Запустить приложение...
Name[sk]=Spustiť program...
Name[sl]=Zaženi program ...
Name[sq]=Hap programin...
Name[sr]=Покрени програм...
Name[sv]=Kör program...
Name[te]=ప్రోగ్రాముని నడుపు...
Name[th]=เรียกโปรแกรม...
Name[tr]=Çalıştır...
Name[ug]=پروگرامما ئىجرا قىل...
Name[uk]=Запускаю програму...
Name[vi]=Chạy chương trình...
Name[zh_CN]=运行程序...
Name[zh_HK]=執行程式...
Name[zh_TW]=執行程式...
Comment=Enter a command you want to launch
Comment[be]=Увядзіце загад для запуску
Comment[bg]=Въведете командата, която искате да стартирате
Comment[ca]=Introduïu l'ordre que voleu executar
Comment[cs]=Zadejte příkaz, který chcete spustit
Comment[da]=Indtast en kommando som du vil køre
Comment[de]=Geben Sie einen Befehl ein, den Sie ausführen möchten
Comment[es]=Ingrese un comando que desee lanzar
Comment[fi]=Kirjoita käynnistettävä komento
Comment[fr]=Saisir une commande que vous souhaitez lancer
Comment[gl]=Introduza unha orde para iniciar
Comment[hr]=Unesite naredbu koju želite pokrenuti
Comment[hu]=Adja meg a parancsot, melyet indítani akar.
Comment[hy_AM]=Ներմուծեք հրամանը, որը ցանկանում եք թողարկել
Comment[it]=Inserire il comando da avviare
Comment[ja]=起動したいコマンドを入力してください
Comment[kk]=Жөнелткіңіз келетін команданы енгізіңіз
Comment[lt]=Įveskite norimą paleisti komandą
Comment[ms]=Masukkan perintah yang anda mahu lancarkan
Comment[nb]=Angi en kommando du vil kjøre
Comment[nl]=Voor een opdracht in die u wilt starten
Comment[pl]=Proszę wprowadzić polecenie do uruchomienia
Comment[pt]=Introduza um comando que deseja iniciar
Comment[pt_BR]=Digite um comando que você deseja executar
Comment[ru]=Введите команду, которую вы хотите запустить
Comment[sr]=Унесите наредбу коју желите покренути
Comment[th]=ป้อนคำสั่งที่คุณต้องการเรียกทำงาน
Comment[tr]=Başlatmak istediğiniz komutu girin
Comment[uk]=Введіть команду для запуску
Comment[zh_TW]=輸入您想要啟動的指令
NoDisplay=true