[Desktop Entry]
Version=1.0
Name=Appearance
Name[am]=አቀራረብ
Name[ar]=المظهر
Name[ast]=Aspeutu
Name[be]=Выгляд
Name[be@tarask]=Выгляд
Name[bg]=Външен вид
Name[bn]=অবয়ব
Name[ca]=Aparença
Name[cs]=Vzhled
Name[da]=Udseende
Name[de]=Erscheinungsbild
Name[el]=Εμφάνιση
Name[en_AU]=Appearance
Name[en_CA]=Appearance
Name[en_GB]=Appearance
Name[es]=Apariencia
Name[eu]=Itxura
Name[fi]=Ulkoasu
Name[fr]=Apparence
Name[gl]=Aparencia
Name[he]=מראה
Name[hr]=Izgled
Name[hu]=Megjelenés
Name[hy_AM]=Տեսք
Name[id]=Tampilan
Name[ie]=Aspecte
Name[is]=Útlit
Name[it]=Aspetto
Name[ja]=外観
Name[kk]=Сыртқы түрі
Name[ko]=모양새
Name[lt]=Išvaizda
Name[lv]=Izskats
Name[ms]=Penampilan
Name[nb]=Utseende
Name[nl]=Uiterlijk
Name[nn]=Utsjånad
Name[oc]=Aparéncia
Name[pa]=ਦਿੱਖ
Name[pl]=Wygląd
Name[pt]=Aparência
Name[pt_BR]=Aparência
Name[ro]=Aspect
Name[ru]=Внешний вид
Name[sk]=Vzhľad
Name[sl]=Videz
Name[sq]=Dukje
Name[sr]=Изглед
Name[sv]=Utseende
Name[te]=రూపురేఖలు
Name[th]=รูปลักษณ์
Name[tr]=Görünüm
Name[ug]=كۆرۈنۈشى
Name[uk]=Зовнішній вигляд
Name[ur]=مظہر
Name[ur_PK]=مظہر
Name[zh_CN]=外观
Name[zh_HK]=外觀
Name[zh_TW]=外觀
Comment=Customize the look of your desktop
Comment[am]=የ እርስዎን ዴስክቶፕ መልክ ማስተካከያ
Comment[ar]=خصص مظهر سطح مكتبك
Comment[ast]=Personaliza l'aspeutu del to escritoriu
Comment[be]=Наладка выгляду працоўнага стала
Comment[be@tarask]=Наладзіць выгляд Стальніцы
Comment[bg]=Настройка на външния вид на работния плот
Comment[bn]=আপনার ডেস্কটপের অবয়ব স্বনির্ধারণ করুন
Comment[ca]=Personalitzeu l'aparença del vostre escriptori
Comment[cs]=Nastavení vzhledu vašeho pracovního prostředí
Comment[da]=Tilpas udseendet på dit skrivebord
Comment[de]=Das Aussehen des Schreibtischs anpassen
Comment[el]=Προσαρμογή της εμφάνισης της επιφάνειας εργασίας
Comment[en_AU]=Customise the look of your desktop
Comment[en_CA]=Customize the look of your desktop
Comment[en_GB]=Customise the look of your desktop
Comment[es]=Personalice la apariencia de su escritorio
Comment[eu]=Pertsonalizatu zure idazmahaiaren itxura
Comment[fi]=Muokkaa työpöytäsi ulkoasua
Comment[fr]=Personnaliser l’apparence du bureau
Comment[gl]=Personalizar a aparencia do escritorio
Comment[he]=התאם אישית את המראה של שולחן העבודה שלך
Comment[hr]=Prilagodite izgled vaše radne površine
Comment[hu]=Az asztali környezet megjelenésének személyre szabása
Comment[hy_AM]=Յարմարեցնել աշխատասեղանի տեսքը
Comment[id]=Sesuaikan tampilan destop anda
Comment[ie]=Personalisar li aspecte de vor Pupitre
Comment[is]=Sérsníða útlit skjáborðsins
Comment[it]=Personalizzazione dell'aspetto della scrivania
Comment[ja]=デスクトップの外観をカスタマイズします
Comment[kk]=Жұмыс үстеліңіздің сыртқы түрін баптаңыз
Comment[ko]=데스크톱 모양 사용자 정의
Comment[lt]=Tinkinti darbalaukio išvaizdą
Comment[lv]=Pielāgot savas darbvirsmas izskatu
Comment[ms]=Suaikan penampilan dekstop anda
Comment[nb]=Tilpass utseendet til skrivebordet
Comment[nl]=Pas het uiterlijk van uw werkomgeving aan
Comment[nn]=Set opp korleis skrivebordet ditt skal sjå ut
Comment[oc]=Personalizar l'aparéncia del burèu
Comment[pa]=ਆਪਣੇ ਡੈਸਕਟਾਪ ਦੀ ਦਿੱਖ ਬਦਲੋ
Comment[pl]=Konfiguruje wygląd środowiska graficznego
Comment[pt]=Personalizar a aparência do seu ambiente de trabalho
Comment[pt_BR]=Personalize a aparência do seu ambiente Xfce
Comment[ro]=Personalizați aspectul propriului desktop
Comment[ru]=Настройки внешнего вида рабочего стола
Comment[si]=ඔබගේ වැඩතලයේ පෙනුම අභිමතකරණය කරන්න
Comment[sk]=Nastavenie vzhľadu pracovného prostredia
Comment[sl]=Prilagodi izgled namizja
Comment[sq]=Përshtatni pamjen e desktopit tuaj
Comment[sr]=Прилагодите изглед радног простора
Comment[sv]=Anpassa utseendet på ditt skrivbord
Comment[th]=ปรับรูปลักษณ์ของเดสก์ท็อปของคุณ
Comment[tr]=Masaüstünüzün görünümünü özelleştirin
Comment[ug]=ئۈستەلئۈستىنىڭ كۆرۈنۈشىنى ئۆزلەشتۈرۈش
Comment[uk]=Налаштуйте зовнішній вигляд вашої стільниці
Comment[ur]=اپنے ڈیسک ٹاپ کا حلیہ مرتب کریں
Comment[ur_PK]=اپنے ڈیسک ٹاپ کا حلیہ مرتب کریں
Comment[zh_CN]=设置桌面外观
Comment[zh_HK]=自訂桌面外觀
Comment[zh_TW]=自訂您桌面的外觀
Exec=xfce4-appearance-settings
Icon=preferences-desktop-theme
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=true
OnlyShowIn=XFCE;
X-XfcePluggable=true
X-XfceHelpPage=appearance
NoDisplay=true
