[Desktop Entry]
Version=1.0
Name=Window Manager Tweaks
Name[am]=የመስኮት አስተዳዳሪ ማሰማመር
Name[ar]=تضبيطات لمدير النوافذ
Name[ast]=Axustes del Xestor de ventanes
Name[be]=Налады кіраўніка акон
Name[be@tarask]=Налады Кіраўніка вокнаў
Name[bg]=Разширено управление на прозорците
Name[bn]=উইন্ডো ব্যবস্থাপক টুইক
Name[ca]=Retocs del gestor de finestres
Name[cs]=Vyladění správce oken
Name[da]=Finjustering af vindueshåndtering
Name[de]=Feineinstellungen der Fensterverwaltung
Name[el]=Προσαρμογή διαχειριστή παραθύρων
Name[en_AU]=Window Manager Tweaks
Name[en_CA]=Window Manager Tweaks
Name[en_GB]=Window Manager Tweaks
Name[eo]=Rafina Agordo de la Administradilo de Fenestroj
Name[es]=Ajustes del gestor de ventanas
Name[et]=Aknahalduri ülehäälestamine
Name[eu]=Leiho kudeatzaile ezarpenak
Name[fa_IR]=تغییر مدیر پنجره
Name[fi]=Ikkunointiohjelman viritys
Name[fr]=Peaufinage des fenêtres
Name[gl]=Axustes do xestor de xanelas
Name[he]=התאמות מנגנון מנהל חלונות
Name[hr]=Ugađanja upravitelja prozora
Name[hu]=Ablakkezelő hangolása
Name[hy_AM]=Պատուհանների Տեսք
Name[id]=Pengaturan Lanjut Manajer Jendela
Name[ie]=Retuchar li Gerente de fenestres
Name[is]=Sérstakar breytingar gluggastjóra
Name[it]=Regolazioni del gestore delle finestre
Name[ja]=ウィンドウマネージャー (詳細)
Name[ka]=ფანჯრის მმართველის პარამეტრები
Name[kk]=Терезелер басқарушысының қу баптаулары
Name[ko]=창 관리자 기능 개선
Name[lt]=Langų tvarkytuvės patobulinimai
Name[lv]=Logu pārvaldnieka piedares
Name[ms]=Ubahsuai Pengurus Tetingkap
Name[nb]=Finjuster vindusbehandleren
Name[nl]=Vensterbeheerder bijstellen
Name[nn]=Finstill vindaugshandsamaraen
Name[oc]=Afinatge de las fenèstras
Name[pa]=ਵਿੰਡੋ ਮੈਨੇਜਰ ਟਵੀਕ
Name[pl]=Usprawnienia menedżera okien
Name[pt]=Ajustes do gestor de janelas
Name[pt_BR]=Ajustes do gerenciador de janelas
Name[ro]=Manager de ferestre (ajustări)
Name[ru]=Диспетчер окон (дополнительно)
Name[sk]=Pokročilé nastavenie správcu okien
Name[sl]=Prilagoditve upravljalnika oken
Name[sq]=Rregullime të Imta për Përgjegjës Dritaresh
Name[sr]=Лицкање управника прозора
Name[sv]=Justeringar för fönsterhanterare
Name[th]=ปรับละเอียดโปรแกรมจัดการหน้าต่าง
Name[tr]=Pencere Yöneticisi İnce Ayarları
Name[ug]=كۆزنەك باشقۇرغۇ Tweaks
Name[uk]=Налаштування менеджера вікон
Name[ur]=ونڈو منیجر کار کردگی
Name[ur_PK]=ونڈو منیجر کار کردگی
Name[vi]=Tinh chỉnh của trình quản lí cửa sổ
Name[zh_CN]=窗口管理器微调
Name[zh_HK]=視窗管理員調校
Name[zh_TW]=視窗管理程式調校
Comment=Fine-tune window behaviour and effects
Comment[ar]=تهذيب سلوك و تأتيرات النافذة
Comment[ast]=Axuste finu de comportamientu y efeutos de ventanes
Comment[be]=Падрабязныя налады паводзін акна і эфектаў
Comment[be@tarask]=Наладзіць паводзіны вокнаў й эфэкты
Comment[bg]=Разширени настройки за поведението на прозорците и ефектите
Comment[bn]=ফাইন-টিউন উইন্ডো আচরণ ও প্রভাব
Comment[ca]=Afineu el comportament i els efectes de les finestres
Comment[cs]=Doladění chování okna a efektů
Comment[da]=Finjuster vinduesopførsel og -effekter
Comment[de]=Feineinstellungen des Fensterverhaltens und der Fenstereffekte
Comment[el]=Ρύθμιση συμπεριφοράς παραθύρων και φαινόμενων
Comment[en_AU]=Fine-tune window behaviour and effects
Comment[en_CA]=Fine-tune window behaviour and effects
Comment[en_GB]=Fine-tune window behaviour and effects
Comment[es]=Ajuste con precisión el comportamiento y los efectos de las ventanas
Comment[eu]=Leiho portaera eta efektuak doitu
Comment[fa_IR]=تنظیم دقیق رفتار و جلوه های پنجره
Comment[fi]=Hienosäädä ikkunoiden käytöstä ja tehosteita
Comment[fr]=Ajuster le comportement et les effets des fenêtres
Comment[gl]=Afinar o comportamento e os efectos das xanelas
Comment[he]=לטש התנהגות ואפקט חלון
Comment[hr]=Detaljno postavljanje ponašanja prozora i efekata
Comment[hu]=Ablakviselkedés és -effektusok finomhangolása
Comment[hy_AM]=Պատուհանների կարգաւորումներ
Comment[id]=Atur perilaku jendela dan efek
Comment[ie]=Precis configuration de fenestres e efectes
Comment[is]=Fínstilla gluggahegðun og brellur
Comment[it]=Regolazione del comportamento della finestra e delle scorciatoie
Comment[ja]=ウィンドウの振る舞いと効果を微調整します
Comment[ka]=ფანჯრის ქცევის და ეფექტების გასწორება
Comment[kk]=Терезе әрекеттерін мен жарлықтарды туралау
Comment[ko]=창 동작 및 효과 최적화
Comment[lt]=Konfigūruoti langų elgseną ir efektus
Comment[lv]=Noskaņot logu uzvedību un efektus
Comment[ms]=Sempurnakan tingkah laku dan kesan tetingkap
Comment[nb]=Finjuster vindusoppførsel og effekter
Comment[nl]=Fijnregeling van venstergedrag en -effecten
Comment[nn]=Finstill korleis vindaugo og effektar verkar
Comment[oc]=Ajustar lo comportament de las fenèstras e lors efièches
Comment[pl]=Konfiguruje ustawienia menedżera okien oraz efekty wizualne
Comment[pt]=Configurar comportamento e efeitos das janelas
Comment[pt_BR]=Ajustes finos do comportamento e efeitos das janelas
Comment[ro]=Optimizați efectele și comportamentul ferestrelor
Comment[ru]=Дополнительная настройка поведения окна и эффектов
Comment[si]=Fine-tune window behaviour and effects
Comment[sk]=Doladenie správania okna a efektov
Comment[sl]=Natančno nastavite obnašanje oken in učinkov
Comment[sq]=Rregulloni më imët efekte dhe sjellje dritaresh
Comment[sr]=Фино подесите понашање прозора и дејства
Comment[sv]=Finjustera fönsterbeteende och effekter
Comment[th]=ปรับแต่งพฤติกรรมและเอฟเฟ็กต์หน้าต่างอย่างละเอียด
Comment[tr]=Pencere davranışı ve olaylarını ayarla
Comment[ug]=كۆزنەك ھەرىكىتى ۋە ئۈنۈمىنى ئىنچىكە تەڭشەش
Comment[uk]=Тонке налаштування заголовку вікна і ефектів
Comment[ur]=ونڈو کا سلوک اور ایفیکٹ مرتب کریں
Comment[ur_PK]=ونڈو کا سلوک اور ایفیکٹ مرتب کریں
Comment[zh_CN]=微调窗口行为和效果
Comment[zh_HK]=微調視窗視窗行為與特效
Comment[zh_TW]=微調視窗視窗行為與特效
Keywords=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[be@tarask]=вокны;паводзіны;налады;перавагі;вандраваньне на ровары;паўтор;пераключэньне;фокус;павышэньне;даступнасьць;клявіша;перацягваньне;перасоўваньне;перамяшчэньне;схаваць;кадр;загаловак;разгорнутае;кафля;экран;мяжа;гарачы кут;кола мышу;згортваньне;прасторы;разьмяшчэньне;кампазітар;кампазіцыі;уключэньне;адключэньне;цені;упрыгожваньні;непразрыстасьць;зьмяненьне памеру;нядзейны;перадпрагляд;compiz;пераходы;
Keywords[bg]=прозорци;поведение;настройки;предпочитания;превъртане;въртене;смяна;фокус;повдигания;визуална помощ;ключ;влачене;местене;преместване;скриване;рамка;заглавна лента;максимизирано;плочка;екран;край;горещ ъгъл;прихващане;колело на мишка;превъртане;работни места;разположение;композитор;композиране;включване;изключване;сенки;декорации;непрозрачност;преоразмеряване;неактивен;преглед;compiz;преход;
Keywords[ca]=finestres;comportament;ajusts;preferències;recórrer;canviar;fòcus;elevar;accessibilitat;tecla;arrossegar;moure;ocultar;marc;barrà de títol;maximitzat;títol;pantalla;cantonada;cantonada calenta;encaixar;roda del ratolí;enrotllar;espais de treball;ubicar;compositor;composició;habilitar;inhabilitar;ombres;decoracions;opacitat;redimensionar;inactiu;vista prèvia;compiz;transicions;
Keywords[da]=vinduer;opførsel;indstillinger;præferencer;gennemløbning;gennemløb;skiftning;fokus;løfter;tilgængelighed;tast;trækning;flyt;flytning;skjul;ramme;titellinje;maksimeret;flise;skærm;kant;hothjørne;fastgørelse;musehjul;rul op;arbejdsområder;placering;kompositør;komposition;aktivér;deaktivér;skygger;dekorationer;opacitet;tilpas størrelse;inaktiv;forhåndsvis;compiz;overgange;
Keywords[de]=Fenster;Verhalten;Einstellungen;Präferenzen;Radfahren;Zyklus;Umschalten;Fokussieren;Anheben;Zugänglichkeit;Taste;Ziehen;Bewegen;Verschieben;Ausblenden;Rahmen;Titelleiste;Maximiert;Kachel;Bildschirm;Rand;heiße Ecke;Einrasten;Mausrad;Aufrollen;Arbeitsflächen;Platzierung;Komposit;Komposit;Aktivieren;Deaktivieren;Schatten;Dekorationen;Deckkraft;Größe ändern;inaktiv;Vorschau;compiz;Übergänge;
Keywords[fr]=fenêtres;comportement;paramètres;préférences;navigation;naviguer;basculement;focus;premier plan;accessibilité;clé;glissement;déplacer;déplacement;masquer;bordure;barre de titre;maximisé;tuile;écran;bord;coin actif;aimantation;molette de souris;enrouler;espaces de travail;placement;compositeur;composition;activer;désactiver;ombres;décorations;opacité;redimensionner;inactif;prévisualisation;compiz;transitions;
Keywords[gl]=xanelas;comportamento;configuración;preferencias;cíclico;ciclo;conmutación;enfoque;aumentar;accesibilidade;tecla;arrastrar;mover;moverse;agochar;cadro;barra de título;maximizado;tesela;pantalla;bordo;esquina activa;recorte;roda do rato;arrolar;espazos de traballo;colocación;compositor;compoñer;activar;desactivar;sombras;decoracións; opacidade;redimensionar;inactivo;vista previa;compiz;transicións;
Keywords[he]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[lt]=langai;langų;elgsena;nustatymai;nuostatos;perjunginėjimas;perjunginejimas;perjungimas;fokusavimas;iškelti;iskelti;iškėlimas;iskelimas;prieinamumas;pasiekiamumas;klavišas;klavisas;tempimas;vilkimas;perkelti;perkėlimas;perkelimas;tempti;vilkti;slėpti;slepti;rėmelis;remelis;pavadinimo juosta;antraštės juosta;antrastes juosta;išskleistas;isskleistas;iškloti;iskloti;ekranas;ekrano;kraštas;krastas;kraštai;krastai;karštas kampas;karstas kampas;karštasis kampas;karstasis kampas;pritraukimas;pelės ratukas;peles ratukas;ratas;užraityti;uzraityti;darbo sritys;išdėstymas;isdestymas;kompozitorius;komponavimas;kompozicionavimas;įjungti;ijungti;išjungti;isjungti;komponavimą;komponavima;šešėliai;seseliai;dekorecijos;nepermatomumas;dengiamumas;keisti dydį;keisti dydi;neaktyvus;pasyvus;peržiūra;perziura;compiz;perėjimai;perejimai;
Keywords[nb]=vindu;oppførsel;innstillinger;oppsett;bla;veksle;bytte;fokus;aktivere;tilgjengelighet;tast;dra;flytt;skjul;tittelfelt;maksimert;flislegg;skjerm;kant;dynamisk hjørne;festing;musehjul;rull opp;arbeidsområder;plassering;kompositor;kompositt;aktiver;deaktiver;skygger;dekorasjoner;dekkevne;endre størrelse;inaktiv;forhåndsvisning;compiz;overganger;
Keywords[nl]=vensters;gedrag;instellingen;voorkeuren;roteren;afwisselen;scherpstelling;verheft;toegankelijkheid;toets;verplaatsen;verbergen;omlijsting;titelbalk;gemaximaliseerd;tegelen;scherm;rand;muiswiel;oprollen;werkbladen;plaatsing;beeldsamensteller;beeldsamenstelling;inschakelen;uitschakelen;schaduwen;decoraties;ondoorzichtigheid;herschalen;inactief;voorbeeldweergave;compiz;overgangen;
Keywords[zh_CN]=窗口;行为;设置;首选项;循环;循环;切换;焦点;提高;辅助功能;按键;拖动;移动;移动;隐藏;框架;标题栏;最大化;平铺;屏幕;边缘;热角;捕捉;鼠标滚轮;卷起;工作区;放置;合成器;合成;启用;禁用;阴影;装饰;不透明度;调整大小;不活动;预览;compiz;过渡;
Exec=xfwm4-tweaks-settings
Icon=wmtweaks
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=true
OnlyShowIn=XFCE;
X-XfcePluggable=true
X-XfceHelpComponent=xfwm4
X-XfceHelpPage=wmtweaks
NoDisplay=true
