[Desktop Entry]
Version=1.0
Name=Color Profiles
Name[be]=Каляровыя профілі
Name[be@tarask]=Каляровыя профілі
Name[bg]=Цветови профили
Name[ca]=Perfils de colors
Name[cs]=Profily barev
Name[da]=Farveprofiler
Name[de]=Farbprofile
Name[el]=Χρωματικά Προφίλ
Name[en_AU]=Colour Profiles
Name[en_CA]=Colour Profiles
Name[es]=Perfiles de color
Name[fi]=Väriprofiilit
Name[fr]=Profils de couleur
Name[gl]=Perfís de cor
Name[he]=פרופילי צבע
Name[hr]=Profili boja
Name[hu]=Színprofilok
Name[hy_AM]=Գունային յատկագրեր
Name[id]=Profil Warna
Name[ie]=Profiles de color
Name[is]=Litasnið
Name[it]=Profili colori
Name[ja]=カラープロファイル
Name[kk]=Түстер профильдері
Name[ko]=색상 프로파일
Name[lt]=Spalvų profiliai
Name[ms]=Profil Warna
Name[nb]=Fargeprofiler
Name[nl]=Kleurprofielen
Name[pl]=Profile kolorów
Name[pt]=Perfis de cor
Name[pt_BR]=Perfis de cor
Name[ru]=Цветовые профили
Name[sk]=Farebné profily
Name[sl]=Barvni profili
Name[sq]=Profile Ngjyre
Name[sr]=Пресеци боја
Name[sv]=Färgprofiler
Name[th]=โพรไฟล์สี
Name[tr]=Renk Profili
Name[uk]=Кольорові профілі
Name[zh_CN]=色彩配置文件
Name[zh_TW]=色彩設定檔
Comment=Set color profiles
Comment[be]=Абраць каляровы профіль
Comment[be@tarask]=Абраць каляровы профіль
Comment[bg]=Задаване на цветови профили
Comment[ca]=Estableix els perfils de colors
Comment[cs]=Nastavit profily barev
Comment[da]=Indstil farveprofiler
Comment[de]=Farbprofile festlegen
Comment[el]=Ορισμός χρωματικών προφίλ
Comment[en_AU]=Set colour profiles
Comment[en_CA]=Set colour profiles
Comment[es]=Establecer perfiles de color
Comment[fi]=Aseta väriprofiilit
Comment[fr]=Définir des profils de couleur
Comment[gl]=Definir os perfís de cor
Comment[he]=קבע פרופילי צבע
Comment[hr]=Postavi profil boje
Comment[hu]=Színprofilok beállítása
Comment[hy_AM]=Սահմանել գունային յատգագրեր
Comment[id]=Atur profil warna
Comment[ie]=Assignar profiles de color
Comment[is]=Setja litasnið
Comment[it]=Imposta i profili dei colori
Comment[ja]=カラープロファイルを設定する
Comment[kk]=Түстер профильдерін орнату
Comment[ko]=색상 프로파일 설정
Comment[lt]=Nustatyti spalvų profilius
Comment[ms]=Tetapkan profil warna
Comment[nb]=Velg fargeprofiler
Comment[nl]=Kleurprofielen instellen
Comment[pl]=Ustaw profile kolorów
Comment[pt]=Definir perfis de cor
Comment[pt_BR]=Conjunto de perfis de cor
Comment[ru]=Задать цветовые профили
Comment[sk]=Nastaviť profily farieb
Comment[sl]=Nastavi barvne profile
Comment[sq]=Ujdisni profile ngjyrash
Comment[sr]=Постави пресеке боја
Comment[th]=กำหนดโพรไฟล์สี
Comment[tr]=Renk profillerini ayarla
Comment[zh_CN]=设置色彩配置文件
Comment[zh_TW]=設定色彩設定檔
Exec=xfce4-color-settings
Icon=xfce4-color-settings
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;
StartupNotify=true
OnlyShowIn=XFCE;
X-XfcePluggable=true
X-XfceHelpPage=color
NoDisplay=true
