[Desktop Entry]
Version=1.0
Name=Workspaces
Name[am]=የስራ ገበታ
Name[ar]=مساحات العمل
Name[ast]=Estayes de trabayu
Name[be]=Працоўныя прасторы
Name[be@tarask]=Прасторы
Name[bg]=Работни места
Name[bn]=কর্মপরিসর
Name[ca]=Espais de treball
Name[cs]=Pracovní plochy
Name[da]=Arbejdsområder
Name[de]=Arbeitsflächen
Name[el]=Χώροι εργασίας
Name[en_AU]=Workspaces
Name[en_CA]=Workspaces
Name[en_GB]=Workspaces
Name[eo]=Laborspacoj
Name[es]=Áreas de trabajo
Name[et]=Tööruumid
Name[eu]=Idazmahaiak
Name[fa_IR]=فضای کاری
Name[fi]=Työtilat
Name[fr]=Espaces de travail
Name[gl]=Espazos de traballo
Name[he]=משטחי עבודה
Name[hr]=Radni prostori
Name[hu]=Munkaterületek
Name[hy_AM]=Աշխատատարածքներ
Name[id]=Area Kerja
Name[ie]=Labor-spacies
Name[is]=Vinnusvæði
Name[it]=Spazi di lavoro
Name[ja]=ワークスペース
Name[ka]=სამუშაო სივრცეები
Name[kk]=Жұмыс орындары
Name[ko]=작업 공간
Name[lt]=Darbo sritys
Name[lv]=Darbavietas
Name[ms]=Ruang kerja
Name[nb]=Arbeidsområde
Name[nl]=Werkbladen
Name[nn]=Arbeidsområde
Name[oc]=Espacis de trabalh
Name[pa]=ਵਰਕਸਪੇਸ
Name[pl]=Obszary robocze
Name[pt]=Áreas de trabalho
Name[pt_BR]=Espaços de trabalho
Name[ro]=Spații de lucru
Name[ru]=Рабочие места
Name[si]=වැඩ අවකාශ
Name[sk]=Pracovné plochy
Name[sl]=Delovne površine
Name[sq]=Hapësira pune
Name[sr]=Радни простори
Name[sv]=Skrivbord
Name[te]=కార్యక్షేత్రాలు
Name[th]=พื้นที่ทำงาน
Name[tr]=Çalışma Alanları
Name[ug]=خىزمەت رايونلىرى
Name[uk]=Робочі області
Name[ur]=مقام کار
Name[ur_PK]=مقام کار
Name[vi]=Vùng làm việc
Name[zh_CN]=工作区
Name[zh_HK]=工作區
Name[zh_TW]=工作區
Comment=Configure layout, names and margins
Comment[ar]=إعداد تصميم, أسماء والهوامش
Comment[ast]=Configurar distribución del tecláu, nome y márxenes
Comment[be]=Наладка размяшчэння, назваў і бакавых межаў
Comment[be@tarask]=Наладзіць напластаваньне, ймёны і мяжы
Comment[bg]=Настройване на поведението, имената и отстъпите
Comment[ca]=Configureu la disposició, els noms i els marges
Comment[cs]=Konfiguruje rozvržení, názvy a okraje
Comment[da]=Konfigurer layout, navne og margener
Comment[de]=Anordnung, Namen und Ränder konfigurieren
Comment[el]=Ρύθμιση διάταξης, ονομάτων και περιθωρίων
Comment[en_AU]=Configure layout, names and margins
Comment[en_CA]=Configure layout, names and margins
Comment[en_GB]=Configure layout, names and margins
Comment[es]=Configure la distribución, los nombres y los márgenes
Comment[eu]=Konfiguratu diseinua, izenak eta ertzak
Comment[fa_IR]=پیکربندی لایه ، نام ها و حاشیه ها
Comment[fi]=Muokkaa asettelua, nimiä ja reunuksia
Comment[fr]=Configurer la disposition, les noms et les marges
Comment[gl]=Configurar a disposición, os nomes e as marxes
Comment[he]=הגדר מערך, שמות ושוליים
Comment[hr]=Konfiguriraj raspored, imena i margine
Comment[hu]=Elrendezés, nevek és margók beállítása
Comment[hy_AM]=Կազմաձեւել շարակարգը, անունները եւ լուսանցքները
Comment[id]=Atur tata letak, nama, dan jarak
Comment[ie]=Configurar arangeament, nómines e márgines
Comment[is]=Stilla framsetningu, nöfn og spássíur
Comment[it]=Configurazione della disposizione, dei nomi e dei margini
Comment[ja]=レイアウト、名前、および余白を設定します
Comment[ka]=განლაგების, სახელების და ზღვრების კონფიგურაცია
Comment[kk]=Жайма, атауларды мен өрістерді баптау
Comment[ko]=배치, 이름, 여백을 설정합니다
Comment[lt]=Konfigūruoti išdėstymus, pavadinimus ir paraštes
Comment[ms]=Selaraskan susunatur, nama dan margin
Comment[nb]=Konfigurer utforming, navn, og marginer
Comment[nl]=Opmaak, namen en marges instellen
Comment[nn]=Set opp utforming, namn og margar
Comment[oc]=Configurar l'agençament, los noms e los marges
Comment[pl]=Konfiguruje układ, nazwy i marginesy obszarów roboczych
Comment[pt]=Configurar esquema, nomes e margens
Comment[pt_BR]=Configure layout, nomes e margens
Comment[ro]=Personalizați-le numele, aspectul și marginile
Comment[ru]=Настройка поведения окон и комбинаций клавиш
Comment[sk]=Nastavenie rozloženia, názvov a okrajov
Comment[sl]=Nastavite razpored, imena in odmike
Comment[sq]=Formësoni skemë, emra dhe mënjana
Comment[sr]=Подесите распоред, називе и ивице
Comment[sv]=Konfigurera layout, namn och marginaler
Comment[th]=ปรับแต่งการจัดวาง ชื่อ และแนวขอบของพื้นที่ทำงาน
Comment[tr]=Yerleşim, isim ve boşlukları yapılandır
Comment[ug]=جايلاشتۇرۇلۇشى، ئاتلىرى ۋە گىرۋەكلىرىنى سەپلەش
Comment[uk]=Конфігурація розкладки, назв та полів
Comment[vi]=Thiết lập cách bố trí, tên và lề
Comment[zh_CN]=配置布局、名称和边缘
Comment[zh_HK]=設定配置、名稱與邊緣
Comment[zh_TW]=設定配置、名稱與邊緣
Keywords=workspaces;settings;preferences;virtual desktops;number;windows;screen;margins;
Keywords[be@tarask]=прасторы;налады;перавагі;віртуальныя стальніцы;нумар;вокны;экран;палі;
Keywords[bg]=работни места;настройки;предпочитания;виртуални работни плотове;брой;прозорци;екран;граници;
Keywords[ca]=espais de treball;ajusts;preferències;escriptoris virtuals;nombre;finestres;pantalla;marges;
Keywords[da]=arbejdsområder;indstillinger;præferencer;virtuelle skriveborde;tal;vinduer;skærm;margener;
Keywords[de]=Arbeitsbereiche;Einstellungen;Präferenzen;virtuelle Schreibtische;Anzahl;Fenster;Bildschirm;Ränder;
Keywords[fr]=espaces de travail;paramètres;préférences;bureaux virtuels;nombre;fenêtres;écran;marges;
Keywords[gl]=espazos de traballo;configuración;preferencias;escritorios virtuais;número;xanelas;pantalla;marxes;
Keywords[he]=workspaces;settings;preferences;virtual desktops;number;windows;screen;margins;
Keywords[lt]=darbo sritys;darbo sričių;darbo sriciu;nustatymai;nuostatos;virtualūs darbalaukiai;virtualus darbalaukiai;virtualių darbalaukių;virtualiu darbalaukiu;skaičius;skaicius;langai;ekranas;paraštės;parastes;
Keywords[nb]=arbeidsområder;innstillinger;oppsett;virtuelle skrivebord;antall;vinduer;skjermer;marger;
Keywords[nl]=werkbladen;instellingen;voorkeuren;virtuele bureaubladen;aantal;vensters;scherm;marges;
Keywords[zh_CN]=工作区;设置;首选项;虚拟桌面;数量;窗口;屏幕;边距;
Exec=xfwm4-workspace-settings
Icon=xfce4-workspaces
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=true
OnlyShowIn=XFCE;
X-XfcePluggable=true
X-XfceHelpComponent=xfwm4
X-XfceHelpPage=workspaces
NoDisplay=true
