[Desktop Entry]
Version=1.0
Name=Display
Name[am]=ማሳያ
Name[ar]=العرض
Name[ast]=Pantalla
Name[be]=Дысплей
Name[be@tarask]=Дысплэй
Name[bg]=Дисплей
Name[bn]=প্রদর্শন
Name[ca]=Pantalla
Name[cs]=Displej
Name[da]=Skærm
Name[de]=Anzeige
Name[el]=Οθόνη
Name[en_AU]=Display
Name[en_CA]=Display
Name[en_GB]=Display
Name[es]=Pantalla
Name[eu]=Bistaratu
Name[fi]=Näyttö
Name[fr]=Affichage
Name[gl]=Pantalla
Name[he]=תצוגה
Name[hr]=Zaslon
Name[hu]=Kijelző
Name[hy_AM]=Ցուցադրիչ
Name[id]=Tampilan
Name[ie]=Monitor
Name[is]=Skjár
Name[it]=Schermo
Name[ja]=ディスプレイ
Name[kk]=Дисплей
Name[ko]=디스플레이
Name[lt]=Ekranas
Name[lv]=Displejs
Name[ms]=Paparan
Name[nb]=Skjerm
Name[nl]=Beeldscherm
Name[nn]=Skjerm
Name[oc]=Afichatge
Name[pa]=ਡਿਸਪਲੇਅ
Name[pl]=Ekran
Name[pt]=Ecrã
Name[pt_BR]=Monitor
Name[ro]=Display
Name[ru]=Дисплей
Name[si]=සංදර්ශකය
Name[sk]=Monitor
Name[sl]=Zaslon
Name[sq]=Shfaqje
Name[sr]=Приказ
Name[sv]=Bildskärm
Name[te]=ప్రదర్శన
Name[th]=จอแสดงผล
Name[tr]=Ekran
Name[ug]=كۆرسەتكۈچ
Name[uk]=Дисплей
Name[ur]=ڈسپلے
Name[ur_PK]=ڈسپلے
Name[zh_CN]=显示
Name[zh_HK]=顯示
Name[zh_TW]=顯示器
Comment=Configure screen settings and layout
Comment[ar]=ضبط إعدادات الشاشة والتصميم
Comment[ast]=Configura los axustes y la xeometría de la pantalla
Comment[be]=Наладка экрана
Comment[be@tarask]=Налады экрану й напляставаньня
Comment[bg]=Промяна на настройките и разположението на екраните
Comment[bn]=পর্দার সেটিংসমূহ ও বহির্বিন্যাস কনফিগার
Comment[ca]=Configureu els ajusts i la disposició de la pantalla
Comment[cs]=Konfiguruje nastavení obrazovky a rozložení
Comment[da]=Konfigurer skærmindstillinger og -layout
Comment[de]=Bildschirmeinstellungen und Anordnung konfigurieren
Comment[el]=Ρύθμιση ιδιοτήτων και διάταξης οθονών
Comment[en_AU]=Configure screen settings and layout
Comment[en_CA]=Configure screen settings and layout
Comment[en_GB]=Configure screen settings and layout
Comment[es]=Configure las opciones y la geometría de la pantalla
Comment[eu]=Konfiguratu pantaila ezarpen eta ingurunea
Comment[fi]=Muokkaa näyttöasetuksia ja asettelua
Comment[fr]=Configurer les paramètres et la disposition des écrans
Comment[gl]=Configurar as opcións e a disposición da pantalla
Comment[he]=הגדרת סידור והגדרות מסך
Comment[hr]=Konfigurirajte postavke i raspored ekrana
Comment[hu]=Képernyő-beállítások és -elrendezés megadása
Comment[hy_AM]=Կազմաձեւել ցուցադրիչի կարգաւորումներն ու շարակարգը
Comment[id]=Atur pengaturan layar dan tata letak
Comment[ie]=Configurar parametres e arangeament de ecranes
Comment[is]=Sýsla með skjástillingar og framsetningu
Comment[it]=Configurazione delle impostazioni e della disposizione dello schermo
Comment[ja]=画面の解像度とレイアウトを設定します
Comment[kk]=Экран баптауларын мен жаймасын баптау
Comment[ko]=화면 설정과 배치 설정
Comment[lt]=Konfigūruoti ekrano nustatymus ir išdėstymą
Comment[lv]=Konfigurēt ekrāna iestatījumus un izkārtojumu
Comment[ms]=Konfigur tetapan dan bentangan skrin
Comment[nb]=Sett opp skjerminnstillinger
Comment[nl]=Scherminstellingen en -vormgeving bewerken
Comment[nn]=Set opp skjermen og utforminga
Comment[oc]=Configurar los paramètres de l'ecran e la disposicion
Comment[pa]=ਸਕਰੀਨ ਸੈਟਿੰਗ ਅਤੇ ਲੇਆਉਟ ਸੰਰਚਨਾ
Comment[pl]=Konfiguruje ustawienia i układ ekranu
Comment[pt]=Configurar definições e esquema do ecrã
Comment[pt_BR]=Definir configurações e disposição dos monitores
Comment[ro]=Configurați opțiunile pentru ecrane și monitoare
Comment[ru]=Настройки экрана
Comment[sk]=Nastavenia konfigurácie obrazovky a rozloženia
Comment[sl]=Nastavite nastavitve zaslona in postavitve
Comment[sq]=Formësoni rregullime dhe skemë ekrani
Comment[sr]=Подеси екране и њихов размештај
Comment[sv]=Ställ in skärminställningar och -layout
Comment[te]=తెర అమరికలను మరియు రూపురేఖలను స్వరూపించు
Comment[th]=ตั้งค่าหน้าจอและการจัดเรียง
Comment[tr]=Ekran ayarlarını ve düzenini yapılandır
Comment[ug]=ئېكراننىڭ ئورۇنلاشتۇرۇلۇشى ۋە ئېنىقلىقىنى تەڭشەش
Comment[uk]=Налаштувати параметри екрану та клавіатури
Comment[ur]=سکرین کی ترتیبات اور خاکہ مرتب کریں
Comment[ur_PK]=سکرین کی ترتیبات اور خاکہ مرتب کریں
Comment[zh_CN]=配置屏幕设置和布局
Comment[zh_HK]=設定螢幕設定值和配置
Comment[zh_TW]=調整螢幕設定與配置
Exec=xfce4-display-settings
Icon=video-display
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;
StartupNotify=true
OnlyShowIn=XFCE;
X-XfcePluggable=true
X-XfceHelpPage=display
NoDisplay=true