[Desktop Entry]
Name=Session and Startup
Name[ar]=الجلسة وبدء التشغيل
Name[ast]=Sesión y aniciu
Name[be]=Сеансы і запуск
Name[be@tarask]=Сэансы й запуск (аўтазапуск, аўтазагрузка)
Name[bg]=Сесия и стартиране
Name[bn]=সেশন এবং আরম্ভ
Name[ca]=Sessió i inicialització
Name[cs]=Relace a spouštění
Name[da]=Session og opstart
Name[de]=Sitzung und Startverhalten
Name[el]=Συνεδρία και Εκκίνηση
Name[en_AU]=Session and Startup
Name[en_GB]=Session and Startup
Name[es]=Sesión e inicio
Name[eu]=Saioa eta abiaraztea
Name[fi]=Istunto ja käynnistys
Name[fr]=Session et démarrage
Name[gl]=Sesión e inicio
Name[he]=סשן והפעלה
Name[hr]=Sesija i pokretanje
Name[hu]=Munkamenet és indítás
Name[hy_AM]=Նիստ եւ մեկնարկ
Name[id]=Sesi dan Hidupkan
Name[ie]=Session e initiament
Name[is]=Seta og ræsing
Name[it]=Sessione e avvio
Name[ja]=セッションと起動
Name[kk]=Сессия мен қосылу
Name[ko]=세션 및 시동
Name[lt]=Seansai ir paleidimas
Name[lv]=Sesijas uz palaišanās
Name[ms]=Sesi dan Permulaan
Name[nb]=Økt og oppstart
Name[nl]=Sessie en opstart
Name[nn]=Økt og oppstart
Name[oc]=Sesilha e aviada
Name[pl]=Sesja i uruchamianie
Name[pt]=Sessão e arranque
Name[pt_BR]=Sessão e Inicialização
Name[ro]=Sesiuni și pornire
Name[ru]=Сеансы и запуск
Name[sk]=Relácia a spúšťanie
Name[sl]=Seja in zagon
Name[sq]=Sesion dhe Nisje
Name[sr]=Седница и почетни програми
Name[sv]=Session och start
Name[te]=సెషన్ మరియు ప్రారంభము
Name[th]=วาระและการเริ่ม
Name[tr]=Oturum ve Başlangıç
Name[ug]=ئەڭگىمە ۋە قوزغىتىش
Name[uk]=Сеанси та запуск
Name[ur]=نشست اور سٹارٹ اپ
Name[ur_PK]=نشست اور سٹارٹ اپ
Name[vi]=Phiên chạy và khởi động
Name[zh_CN]=会话和启动
Name[zh_HK]=工作階段與啟動
Name[zh_TW]=工作階段與啟動
Comment=Customize desktop startup
Comment[be]=Наладка запуску працоўнага асяроддзя
Comment[be@tarask]=Наладзіць запуск працоўнага асяродьдзя
Comment[bg]=Персонализиране на стартирането на работния плот
Comment[ca]=Personalitza l'inici de l'escriptori
Comment[cs]=Přizpůsobení spouštění pracovního prostředí
Comment[da]=Tilpas skrivebordsopstart
Comment[de]=Anpassen des Startverhaltens der Arbeitsumgebung
Comment[el]=Διαμόρφωση εκκίνησης επιφάνειας εργασίας
Comment[en_AU]=Customize desktop startup
Comment[es]=Personalizar el inicio de escritorio
Comment[eu]=Mahaigainaren abioa pertsonalizatu
Comment[fi]=Mukauta työpöydän käynnistystä
Comment[fr]=Personnaliser le démarrage du bureau
Comment[gl]=Personalizar o inicio do escritorio
Comment[he]=התאם אישית הפעלת שולחן עבודה
Comment[hr]=Prilagodi pokretanje radne površine
Comment[hu]=Az asztali környezet indításának személyre szabása
Comment[hy_AM]=Յարմարեցնել աշխատասեղանի մեկնարկումը
Comment[id]=Pengaturan hidupkan desktop
Comment[ie]=Personalisar li inicie del ambientie
Comment[is]=Sérsníða ræsingu skjáborðs
Comment[it]=Personalizza l'avvio
Comment[ja]=デスクトップの起動をカスタマイズする
Comment[kk]=Жұмыс үстелінің қосылуын баптау
Comment[ko]=데스크톱 시작 개별 설정
Comment[lt]=Tinkinti darbalaukio paleidimą
Comment[ms]=Suaikan permulaan desktop
Comment[nb]=Tilpass skrivebordsoppstart
Comment[nl]=Opstarten van werkomgeving aanpassen
Comment[pl]=Konfiguruje ustawienia środowiska graficznego
Comment[pt]=Personalizar arranque do ambiente de trabalho
Comment[pt_BR]=Personalizar inicialização do ambiente
Comment[ru]=Персонализация запуска 
Comment[sk]=Prispôsobiť spúšťanie prostredia
Comment[sl]=Prilagajanje zagona namizja
Comment[sq]=Përshtatni nisjen e desktopit
Comment[sr]=Прилагодите покретање радног простора
Comment[th]=ปรับแต่งการเปิดวาระเดสก์ท็อป
Comment[tr]=Masaüstü başlangıcını özelleştir
Comment[uk]=Налаштувати запуск стільниці
Comment[zh_CN]=自定义桌面启动
Comment[zh_TW]=自訂桌面啟動
Exec=xfce4-session-settings
Icon=xfce4-session
Terminal=false
StartupNotify=true
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
OnlyShowIn=XFCE;
X-XfcePluggable=true
X-XfceHelpComponent=xfce4-session
X-XfceHelpPage=preferences
NoDisplay=true
