input[type=radio] {
    border-radius: 20px;
    border:1px solid rgb(125,125,125);
    background: #CCC;
    -webkit-appearance: none;
    width: 13px; 
    height: 13px;    
}

input[type="radio"]:after {
    background-color: #FFF;
    border-radius: 25px;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
                0 1px 1px hsla(0,0%,100%,.8);
    content: '';
    display: block;
    height: 7px;
    left: 2px;
    position: relative;
    top: 2px;
    width: 7px;
}

input[type=radio]:checked:after {
    background: #006494;
}

input[type=radio]:disabled{
    border-radius: 20px;
    border:1px solid rgb(175,175,175);
    background: #CCC;
    -webkit-appearance: none;
}

input[type="radio"]:disabled:after {
    background-color: #CCC;
    border-radius: 25px;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2),
                0 1px 1px hsla(0,0%,100%,.8);
    content: '';
    display: block;
    height: 7px;
    left: 2px;
    position: relative;
    top: 2px;
    width: 7px;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    display:inline-block;
    width:13px;
    height:13px;
    background:url(../img/account/checker.png);
    background-repeat:no-repeat;
    background-position: -3px -3px;
    margin:0 5px -2px 0;    
}

input[type="checkbox"]:checked + label {
    display:inline-block;
    width:13px;
    height:13px;
    background:url(../img/account/checker.png);
    background-repeat:no-repeat;
    background-position: -22px -3px;
    margin:0 5px -2px 0;
}

input[type="checkbox"]:disabled + label {
    display:inline-block;
    width:13px;
    height:13px;
    background:url(../img/account/checker.png);
    background-repeat:no-repeat;
    background-position: -41px -3px;
    margin:0 5px -2px 0;    
}

input[type="checkbox"]:disabled:checked + label {
    display:inline-block;
    width:13px;
    height:13px;
    background:url(../img/account/checker.png);
    background-repeat:no-repeat;
    background-position: -60px -3px;
    margin:0 5px -2px 0;
}

input[type=checkbox]:checked:after {
    background: #006494;
}*/